<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="salot.kari.testfirebase1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_gofore"
        android:roundIcon="@mipmap/ic_launcher_gofore_adaptive_fore"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestFirebase1">
        <activity
            android:name=".view.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>